body {
    background-color: black;
}

header {
    display: block;
    margin-top: 1%;
    margin-left: 39%;
    margin-right: 39%;
    width: 60%;
}

.back button {
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;
    background-color: rgba(124, 243, 253, 1.0);
}

.back button:hover {
    background-color: rgba(124,243, 252, 0.6);
}

.leftnav button {
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;
    background-color: rgba(124, 243, 253, 1.0);
}

.leftnav button:hover {
    background-color: rgba(124,243, 252, 0.6);
}

.dataspan button {
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;
    background-color: rgba(124, 243, 253, 1.0);
}

.dataspan button:hover {
    background-color: rgba(124,243, 252, 0.6);
}

.datasource button {
    border: none;
    /*border-radius: 4px;*/
    cursor: pointer;
    background-color: rgba(124, 243, 253, 1.0);
}

.datasource button:hover {
    background-color: rgba(124,243, 252, 0.6);
}

/*.container {*/
/*    width: 1000px;*/
/*    max-width: 1000px;*/
/*    overflow-x: scroll;*/
/*}*/

/*.containerBody {*/
/*    height: 1000px;*/
/*}*/