body {
    background-color: black;
}

header {
    display: block;
    margin-top: 1%;
    margin-left: 39%;
    margin-right: 39%;
    width: 60%;
}

.search_bar {
    margin-left: 39%;
}

.search_bar input {
    width: 400px;
}

.logout_btn button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgba(124, 243, 252, 1.0);
}

.logout_btn button:hover {
    background-color: rgba(124, 243, 252, 0.6);
}

.table {
    color: white;
    width: 95%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.columns {
    /* border: 2px solid white; */
    text-align: center;
    width: 11%;
}

.datecol {
    text-align: center;
    font-weight: bold;
    color: white;
}

.timecol {
    text-align: center;
    font-weight: bold;
    color: white;
}

.tdscol {
    text-align: center;
    font-weight: bold;
    color: white;
}

.phcol {
    text-align: center;
    font-weight: bold;
    color: white;
}

.ambtempcol {
    text-align: center;
    font-weight: bold;
    color: white;
}

.watempcol {
    text-align: center;
    font-weight: bold;
    color: white;
}

.watlevcol {
    text-align: center;
    font-weight: bold;
    color: white;
}

.watflowcol {
    text-align: center;
    font-weight: bold;
    color: white;
}

th button{
    width: 100%;
    text-align: center;
}